a.tooltips {
    display: inline;
    position: relative;
}

a.tooltips > span {
    background: #000000;
    border: 2px solid #B3AB86;
    border-radius: 8px;
    bottom: 10%;
    color: #FFFFFF;
    position: absolute;
    right: 40%;
    text-align: center;
    visibility: hidden;
    width: 450px;
}

a.tooltips:hover > span {
    bottom: -160px; /* Tooltip Position */
    margin-left: -76px;
    opacity: 1;
    right: 180%; /* Tooltip Position */
    visibility: visible;
    z-index: 999;
}

a.tooltips2 {
    display: inline;
    position: relative;
}

a.tooltips2 > span {
    background: #000000;
    border: 2px solid #B3AB86;
    border-radius: 8px;
    bottom: 10%;
    color: #FFFFFF;
    position: absolute;
    right: 40%;
    text-align: center;
    visibility: hidden;
    width: 450px;
}

a.tooltips2:hover > span {
    bottom: 10px; /* Tooltip Position */
    margin-left: -76px;
    opacity: 1;
    right: 180%; /* Tooltip Position */
    visibility: visible;
    z-index: 999;
}


.tooltipA {
    color: #222;
    cursor: auto;
    display: inline-block;
    outline: none;
    position: relative;
    text-decoration: none;
}

.tooltipA span {
    background-color: #000;
    background-image: linear-gradient(#000, #000);
    border: 2px solid #ccc;
    border-radius: 4px;
    bottom: auto;
    box-shadow: 0 1px 2px #000, 0 1px 0 #000 inset;
    color: white;
    left: 30%;
    margin-bottom: -50px;
    margin-left: 40px;
    opacity: .9;
    padding: 10px;
    position: absolute;
    visibility: hidden;
    width: 230px;
    z-index: 999;
}

.tooltipA:hover {
    border: 0; /* IE6 fix */
}

.tooltipA:hover span { visibility: visible; }


    

/*Tooltip B*/

.tooltipB {
    color: #222;
    cursor: help;
    display: inline-block;
    outline: none;
    position: relative;
    text-decoration: none;
}

.tooltipB span {
    background-color: #ddd;
    background-image: linear-gradient(rgba(255, 255, 255, .5), rgba(255, 255, 255, 0));
    border: 2px solid #ccc;
    border-radius: 4px;
    bottom: auto;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .4), 0 1px 0 rgba(255, 255, 255, .5) inset;
    left: 30%;
    margin-bottom: -50px;
    margin-left: 40px;
    opacity: .9;
    padding: 10px;
    position: absolute;
    text-shadow: 0 1px 0 rgba(255, 255, 255, .4);
    visibility: hidden;
    width: 230px;
    z-index: 999;
}

.tooltipB:hover {
    border: 0; /* IE6 fix */
}

.tooltipB:hover span { visibility: visible; }

.tooltipB span:before,
.tooltipB span:after {
    border-bottom: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 8px solid #ddd;
    bottom: -7px;
    content: "";
    left: 50%;
    margin-left: -8px;
    position: absolute;
    z-index: 1000;
}

.tooltipB span:before {
    border-top-color: #ccc;
    bottom: -8px;
}

div.story {
    height: 400px;
    overflow-y: auto;
    width: 100%;
}

div.inventory {
    height: 300px;
    width: 100%;
}

.progress {
    background: rgba(245, 245, 245, 1);
    border: 1px solid rgba(66, 139, 202, 1);
    border-radius: 6px;
    height: 18px;
    position: relative;
    width: 100%;
}

.progress-bar-custom { background: rgba(66, 139, 202, 1); }

/**
 * Progress bars with centered text
 */

.progress span {
    color: black;
    display: block;
    font-size: 16px;
    font-weight: 700;
    position: absolute;
    width: 100%;
}

.progressColor { background: #04B431; }