.tooltipA {
  position: relative;
  cursor: auto;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltipA span {
  visibility: hidden;
  position: absolute; 
  bottom: auto;
  left: 30%;
  z-index: 999;
  width: 230px;
  margin-left: 40px;
  margin-bottom: -50px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  border-radius: 4px;  
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
}

.tooltipA:hover {
  border: 0; /* IE6 fix */
}

.tooltipA:hover span {
  visibility: visible;
}

.tooltipA span:before,
.tooltipA span:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltipA span:before {
  border-top-color: #ccc;
  bottom: -8px;
}
    

/*Tooltip B*/
.tooltipB {
  position: relative;
  cursor:help;
  display: inline-block;
  text-decoration: none;
  color: #222;
  outline: none;
}

.tooltipB span {
  visibility: hidden;
  position: absolute; 
  bottom: auto;
  left: 30%;
  z-index: 999;
  width: 230px;
  margin-left: 40px;
  margin-bottom: -50px;
  padding: 10px;
  border: 2px solid #ccc;
  opacity: .9;
  background-color: #ddd;                     
  background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));  
  border-radius: 4px;  
  box-shadow: 0 1px 2px rgba(0,0,0,.4), 0 1px 0 rgba(255,255,255,.5) inset;  
  text-shadow: 0 1px 0 rgba(255,255,255,.4); 
}

.tooltipB:hover {
  border: 0; /* IE6 fix */
}

.tooltipB:hover span {
  visibility: visible;
}

.tooltipB span:before,
.tooltipB span:after {
  content: "";
  position: absolute;
  z-index: 1000;
  bottom: -7px;
  left: 50%;
  margin-left: -8px;  
  border-top: 8px solid #ddd;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;        
  border-bottom: 0;  
}

.tooltipB span:before {
  border-top-color: #ccc;
  bottom: -8px;
}

div.story {
    width: 100%;
    height: 500px;
    overflow-y: auto;
}
div.inventory {
    width: 100%;
    height: 500px;
}

.progress {
    background: rgba(245, 245, 245, 1); 
    border: 1px solid rgba(66, 139, 202, 1); 
    border-radius: 6px; 
    height: 18px; 
    width: 100%;
    position: relative;
}
.progress-bar-custom {background: rgba(66, 139, 202, 1);}

/**
 * Progress bars with centered text
 */

.progress span {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    font-size:16px;
    font-weight:700;
}
.progressColor{
    background:#04B431;
}