a.tooltipA {outline:none; }
a.tooltipA strong {line-height:30px;}
a.tooltipA:hover {text-decoration:none;} 
a.tooltipA span {
    z-index:10;display:none; padding:14px 20px;
    margin-top:-30px; margin-left:28px;
    width:300px; line-height:16px;
}
a.tooltipA:hover span{
    display:inline; position:absolute; color:#111;
    border:1px solid #DCA; background:#fffAF0;}
.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
    
/*CSS3 extras*/
a.tooltipA span
{
    border-radius:4px;
    box-shadow: 5px 5px 8px #CCC;
}
div.story {
    width: 100%;
    height: 700px;
    overflow-y: scroll;
}
div.inventory {
    width: 100%;
    height: 500px;
    overflow-y: scroll;
}

.progress {background: rgba(245, 245, 245, 1); border: 0px solid rgba(245, 245, 245, 1); border-radius: 6px; height: 10px; width: 60%;}
.progress-bar-custom {background: rgba(66, 139, 202, 1);}